*{
    margin:0;
    padding: 0;
}
body{
    background-color: #BDE4A7;
    text-align: center;
}

.container{
    height: 70vmin;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    gap: 2vin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:1.5vmin;
}

.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0.1rem 0.2rem 0.1rem black;
    font-size: 8vmin;
    color:#F71735;
    background-color: #ffffff;
}

#reset-button{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #FEB95F;
    border-radius: 1rem;
    border: none;
}


#new-btn{
    height: 4vmin;
    width: 11vmin;
    border-radius: 0.5rem;
    font-size: 0.4rem;
    background-color: rgb(120, 255, 120);
}


.msg{
    font-size: 4min;
    margin-top: 5vmin;
}


.hide{
    display: none;
}


main {
    margin-top: 20px;
}

