*{
    margin:0;
    padding: 0;
}
body{
    background-color: #BDE4A7;
    text-align: center;
}

.container{
    height: 70vmin;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    gap: 2vin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:1.5vmin;
}

.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0.1rem 0.2rem 0.1rem black;
    font-size: 8vmin;
    color:#F71735;
    background-color: #ffffff;
}

#reset-button{
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FEB95F;
    border-radius: 1rem;
    border: none;
}


#new-btn{
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: #34ff30;
    border-radius: 1rem;
    border: none;
}


.msg{
    font-size: 4min;
    margin-top: 5vmin;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 600;
}


.hide{
    display: none;
}


main {
    margin-top: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

/*footer here*/

footer {
    background-color: #282828; 
    color: #ffcc00; 
    text-align: center;
    padding: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

footer a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #ffffff;
}

footer .highlight {
    color: #ff4d4d; 
    font-weight: bold;
}